/* HEADLINE */
@include theme() {
    &headline {
        @include containerFluid;
        height: 800px;
        background-color: $color-black;
        margin-bottom: 60px;
        @include relative;

        @include setResponsiveDesign($breakpoint-tablet-landscape) {
            height: 600px;
        }

        &::before {
            content: "";
            @include absolute;
            @include containerFluid(true);
            @include backgroundImage("mobile/image-hero.jpg");
            opacity: 0.6;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include backgroundImage("desktop/image-hero.jpg", no-repeat, cover, top center);
            }
        }

        &__container {
            @include container;
            @include flex;
            @include relative;
            height: 100%;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                justify-content: flex-start;
            }
        }

        &__title {
            border: 2px solid $color-white;
            padding: 20px;

            @include setResponsiveDesign($breakpoint-mobile-landscape) {
                padding: 30px;
            }

            h1 {
                font-size: 2.2em;
                color: $color-white;

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    font-size: 3.6em;
                }

                @include setResponsiveDesign($breakpoint-mobile-landscape) {
                    font-size: 4.4em;
                }

                span {
                    display: block;
                }
            }
        }
    }
}