/* PRESENTATION SECTION */
@include theme() {
    &presentation {
        @include containerFluid;
        @include containerSpacing;

        &__container {
            @include container($breakpoint-mobile-landscape);
            @include flex(flex-start, stretch);
            @include relative;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                max-width: $container-width;
            }
        }

        &__image {
            margin-bottom: 40px;
            @include flex1;

            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flexBasis(60%);
                margin-bottom: 0;
            }
        }

        &__info {
            text-align: center;
            @include flex1;
                
            @include setResponsiveDesign($breakpoint-desktop-sd) {
                @include flexBasis(unset);
                @include absolute(unset, unset);
                bottom: 0;
                right: 0;
                width: 55%;
                background-color: $color-white;
                padding: 60px 60px 0 60px;
                text-align: left;
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            @include setResponsiveDesign($breakpoint-desktop-sd) {                        
                font-size: 0.9em;
            }
        }
    }
}