// BREAKPOINTS
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

// COLORS
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

// TIPOGRAPHY
$font-alata: 'Alata', sans-serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;

// BROWSERS CORE
$browsers-core-default: (
    "moz",
    "webkit"
);

// CONTAINER WIDTH
$container-max-width: 1100px;
$container-padding-x: 30px;
$container-padding-y: 0;

// TRANSITION PROPERTIES
$transition-property: all;
$transition-duration: 300ms;
$transition-timing-function: ease;